/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root{
    --clr-white: #FFF;
    --clr-grey: #949494;
    --clr-blue-800: #242742;
    --clr-blue-700: #36384D;
    --clr-red: #FF6155;
    --clr-gradient-4: linear-gradient(90deg, #FF6A3A 0%, #FF527B 100%); 

    --spacing-100: .5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-800: 4rem;
    --spacing-900: 4.5rem;
    --spacing-1300: 6.5rem;
}

/* CSS Reset */
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General Styles */
body{
    font-family: "Roboto", sans-serif;
    color: var(--clr-blue-800);
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500);
    background-color: var(--clr-white);
    padding-bottom: var(--spacing-500);
}
.newsletter-picture{
    width: 100%;
    object-fit: cover;
}
.container-content{
    padding: 0 var(--spacing-300);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}
.newsletter-info{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);    
}
.title{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 100%;
}
.description, .features{
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
}
.features{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}
.feature{
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-200);
}
#form{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}
.email-input-group{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}
.label-and-error{
    display: flex;
    justify-content: space-between;
    font-size: .75rem;
    font-weight: 600;
    line-height: 150%;
}
.label-and-error #error-message{
    color: var(--clr-red);
}
#email-input{
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    padding: var(--spacing-200) var(--spacing-300);
    border-radius: 8px;
    border: 1px solid var(--clr-grey);
    color: var(--clr-blue-800);
}
#email-input.error{
    background-color: #FFE7E6;
    color: var(--clr-red);
}
.btn{
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
    padding: var(--spacing-200) var(--spacing-400);
    color: var(--clr-white);
    background-color: var(--clr-blue-800);
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--clr-blue-700);
}
.hidden{
    display: none !important;
}
#success-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 9.375rem 1.5rem 4.375rem;
}
.success-card{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.success-icon{
    width: 4rem;
}
.success-info{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}
#success-btn{
    width: 100%;
}

@media (min-width: 37.5rem){
    body{
        background-color: var(--clr-blue-700);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .container{
        width: 79.1666667%;
        max-width: 38rem;
        padding: var(--spacing-500);
        border-radius: 36px;
        box-shadow: 0 15px 60px 0 hsla(0, 0%, 0%, .25);
    }
    .newsletter-picture{
        border-radius: 16px 16px 0 0;
    }
    .container-content{
        padding: 0;
    }
    .title{
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 100%;
    }
    .description, .features{
        font-size: 1rem;
        font-weight: 400;
        line-height: 140%;
    }
    #success-container{
        background-color: var(--clr-blue-700);
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .success-card{
        background-color: var(--clr-white);
        width: 31.5rem;
        height: auto;
        gap: var(--spacing-400);
        padding: var(--spacing-800);
        border-radius: 36px;
    }
}

@media (min-width: 67.5rem){
    .container{
        width: 62.7777778%;
        max-width: 56.5rem;
        flex-direction: row-reverse;
        gap: var(--spacing-800);
        padding: var(--spacing-400);
    }
    .newsletter-picture{
        width: 100%;
        height: 100%;
        border-radius: 16px;
    }
    .container-content{
        justify-content: center;
        gap: var(--spacing-400);
    }
    .title{
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 100%;
    }
    .btn:hover, .btn:active{
        background: var(--clr-gradient-4);
    }
}
